[Unit]
Description=Simple Sensor Management System Daemon
Wants=avahi-daemon.service
After=network.target avahi-daemon.service

[Service]
Type=forking
ExecStart=/usr/bin/ssmsd -i 600 -d /var/ssmsd/database.db -l /var/log/ssmsd/

[Install]
WantedBy=default.target
